<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buscar Discos</title>
    <link rel="stylesheet" href="/css/CatalogoBusquedaStyle.css"/>
</head>
<body>
<h1 class="titulo-catalogo">Búsqueda de Discos</h1>

<form action="/discos/buscar/disco" method="GET" class="form-busqueda">
  <label for="idDisco">ID:</label>
  <input type="number" id="idDisco" name="idDisco" min="0" max="99999" value="">

  <label for="titulo">Título:</label>
  <input type="text" id="titulo" name="titulo" value="">

  <label for="autor">Autor:</label>
  <input type="text" id="autor" name="autor" value="">

  <label for="anyo">Año:</label>
  <input type="number" id="anyo" name="anyo" min="1900" max="2025" value="" >

  <label for="pistas">Pistas:</label>
  <input type="number" id="pistas" name="pistas" min="1" max="200" value="">
  <br/>
  <button type="submit" class="btn-submit">Buscar</button>
</form>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Título</th>
    <th>Autor</th>
    <th>Año</th>
    <th>Pistas</th>
    <th>Precio (€)</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="disco : ${discos}">
    <td th:text="${disco.id}"></td>
    <td th:text="${disco.titulo}"></td>
    <td th:text="${disco.autor}"></td>
    <td th:text="${disco.anyo}"></td>
    <td th:text="${disco.pistas}"></td>
    <td th:text="${disco.precio}"></td>
    <td>
      <a th:href="@{/discos/form/modificar/{id}(id=${disco.id})}" class="btn-modificar">Modificar</a>
      <form th:action="@{/discos/eliminar/{id}(id=${disco.id})}" method="post" class="form-confirmar"
            onsubmit="return confirm('¿Estás seguro de que deseas eliminar este disco?')">
        <button type="submit" class="btn-eliminar">Eliminar</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>

<div class="btn-container">
  <div class="btn-agregar-container">
    <a href="/discos/form/agregar" class="btn-agregar">Agregar Disco</a>
  </div>
  <a href="http://localhost:8080" class="volver-inicio">Volver al inicio</a>
</div>

</body>
</html>