<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Online</title>
    <link rel="stylesheet" href="/css/IndexStyle.css">
</head>
<body>
<h1>Bienvenido a mi tienda online</h1>
<div>
    <h2>Libros</h2>
    <a href="/libros/catalogo"><button>Ver Catálogo de Libros</button></a>
    <a href="/libros/buscar"><button>Buscar Libros</button></a>
</div>
<div>
    <h2>Películas</h2>
    <a href="/peliculas/catalogo"><button>Catálogo de Películas</button></a>
    <a href="/peliculas/buscar"><button>Buscar Películas</button></a>
</div>
<div>
    <h2>Discos</h2>
    <a href="/discos/catalogo"><button>Ver Catálogo de Discos</button></a>
    <a href="/discos/buscar"><button>Buscar Discos</button></a>
</div>
</body>
</html>